body{
    text-align: center;
}
h1{
    text-decoration:  underline green;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;
    border: 10px solid black;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color:#FF5F1F;
}
.red{
    background-color: #fd034e;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #0a978b;
}
.flash{
    background-color: white;
}